# Mögliche Werte: libsql ODER mysql
DB_TYPE=libsql

# Für LibSQL / SQLite
DB_URL=file:src/data/forms.db

# Für MySQL / MariaDB
DB_HOST=localhost
DB_USER=<Your USER>
DB_PASSWORD=<Your PASSWORD>
DB_NAME=<Your DB>
DB_PORT=3306
